/* 修改滚动条样式 */
/* 设置滚动条 */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

/* 设置滚动条滑块 */
::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
}

/* 设置滚动条滑块在悬停状态下的背景色和圆角 */
::-webkit-scrollbar-thumb:hover {
    background-color: #999;
    border-radius: 5px;
}

/* 设置滚动条轨道的背景色和圆角 */
::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    border-radius: 5px;
}

/* 设置滚动条轨道在悬停状态下的背景色和圆角 */
::-webkit-scrollbar-track:hover {
    background-color: #ccc;
}

p {
    color: white;
}

/* 一般样式 */

.toggle-btn {
    position: fixed;
    top: 30px;
    right: 20px;
    z-index: 999;

    /* 简约风格设计 */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: hsla(115, 55%, 55%, 0.75);
    /* 背景颜色可自定义为适合您网站主题的颜色 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease-in-out;

    /* 使用图标作为按钮内容 */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

/* 当鼠标悬停时的更改 */
.toggle-btn:hover {
    background-color: #f0f0f0;
}

.menu {
    /* 菜单初始时靠右隐藏的宽度 */
    width: 300px;
    height: 90vh;
    background-color: hsla(0, 0%, 100%, 0.75);
    border-radius: 35px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#fly {
    right: -340px;
    top: 10px;
    position: fixed;
    display: flex;
    transition: right 0.5s cubic-bezier(0.15, 0.75, 1, 1);
    /* 添加缓动效果 */
}

#fly.hidden .toggle-btn {
    background-color: hsl(115, 55%, 55%);
}

.To {
    border: none;
    width: 100%;
    background-color: unset;
    text-align: left;
    font-size: 5vh;
    margin: 4px 2px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.all.hidden .toggle-btn {
    background-color: hsl(115, 55%, 55%);
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: -10;
    background: #313bf2;
    overflow: hidden;
}

.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 4s linear infinite;
}

.background li:nth-child(0) {
    left: 73%;
    width: 127px;
    height: 127px;
    bottom: -127px;
    animation-delay: 1s;
}

.background li:nth-child(1) {
    left: 67%;
    width: 67px;
    height: 67px;
    bottom: -67px;
    animation-delay: 2s;
}

.background li:nth-child(2) {
    left: 79%;
    width: 136px;
    height: 136px;
    bottom: -136px;
    animation-delay: 5s;
}

.background li:nth-child(3) {
    left: 2%;
    width: 189px;
    height: 189px;
    bottom: -189px;
    animation-delay: 15s;
}

.background li:nth-child(4) {
    left: 83%;
    width: 153px;
    height: 153px;
    bottom: -153px;
    animation-delay: 5s;
}

.background li:nth-child(5) {
    left: 86%;
    width: 99px;
    height: 99px;
    bottom: -99px;
    animation-delay: 9s;
}

.background li:nth-child(6) {
    left: 15%;
    width: 212px;
    height: 212px;
    bottom: -212px;
    animation-delay: 23s;
}

.background li:nth-child(7) {
    left: 60%;
    width: 215px;
    height: 215px;
    bottom: -215px;
    animation-delay: 17s;
}

.background li:nth-child(8) {
    left: 54%;
    width: 217px;
    height: 217px;
    bottom: -217px;
    animation-delay: 19s;
}

.background li:nth-child(9) {
    left: 82%;
    width: 96px;
    height: 96px;
    bottom: -96px;
    animation-delay: 32s;
}

.background li:nth-child(10) {
    left: 79%;
    width: 229px;
    height: 229px;
    bottom: -229px;
    animation-delay: 35s;
}

.background li:nth-child(11) {
    left: 13%;
    width: 267px;
    height: 267px;
    bottom: -267px;
    animation-delay: 15s;
}

.background li:nth-child(12) {
    left: 77%;
    width: 145px;
    height: 145px;
    bottom: -145px;
    animation-delay: 38s;
}

.background li:nth-child(13) {
    left: 88%;
    width: 146px;
    height: 146px;
    bottom: -146px;
    animation-delay: 53s;
}

.background li:nth-child(14) {
    left: 84%;
    width: 97px;
    height: 97px;
    bottom: -97px;
    animation-delay: 50s;
}

.background li:nth-child(15) {
    left: 76%;
    width: 40px;
    height: 40px;
    bottom: -40px;
    animation-delay: 9s;
}

.background li:nth-child(16) {
    left: 34%;
    width: 51px;
    height: 51px;
    bottom: -51px;
    animation-delay: 47s;
}

.background li:nth-child(17) {
    left: 48%;
    width: 117px;
    height: 117px;
    bottom: -117px;
    animation-delay: 54s;
}

.background li:nth-child(18) {
    left: 87%;
    width: 209px;
    height: 209px;
    bottom: -209px;
    animation-delay: 45s;
}

.background li:nth-child(19) {
    left: 46%;
    width: 106px;
    height: 106px;
    bottom: -106px;
    animation-delay: 11s;
}

.background li:nth-child(20) {
    left: 59%;
    width: 123px;
    height: 123px;
    bottom: -123px;
    animation-delay: 9s;
}

.background li:nth-child(21) {
    left: 85%;
    width: 159px;
    height: 159px;
    bottom: -159px;
    animation-delay: 28s;
}

.background li:nth-child(22) {
    left: 11%;
    width: 83px;
    height: 83px;
    bottom: -83px;
    animation-delay: 89s;
}

.background li:nth-child(23) {
    left: 26%;
    width: 156px;
    height: 156px;
    bottom: -156px;
    animation-delay: 64s;
}

.background li:nth-child(24) {
    left: 64%;
    width: 257px;
    height: 257px;
    bottom: -257px;
    animation-delay: 31s;
}

.background li:nth-child(25) {
    left: 1%;
    width: 231px;
    height: 231px;
    bottom: -231px;
    animation-delay: 71s;
}

.background li:nth-child(26) {
    left: 76%;
    width: 237px;
    height: 237px;
    bottom: -237px;
    animation-delay: 93s;
}

.background li:nth-child(27) {
    left: 22%;
    width: 291px;
    height: 291px;
    bottom: -291px;
    animation-delay: 93s;
}

.background li:nth-child(28) {
    left: 89%;
    width: 306px;
    height: 306px;
    bottom: -306px;
    animation-delay: 36s;
}

.background li:nth-child(29) {
    left: 47%;
    width: 280px;
    height: 280px;
    bottom: -280px;
    animation-delay: 106s;
}

.background li:nth-child(30) {
    left: 35%;
    width: 295px;
    height: 295px;
    bottom: -295px;
    animation-delay: 90s;
}

.background li:nth-child(31) {
    left: 60%;
    width: 229px;
    height: 229px;
    bottom: -229px;
    animation-delay: 39s;
}

.background li:nth-child(32) {
    left: 12%;
    width: 242px;
    height: 242px;
    bottom: -242px;
    animation-delay: 28s;
}

.background li:nth-child(33) {
    left: 58%;
    width: 247px;
    height: 247px;
    bottom: -247px;
    animation-delay: 158s;
}

.background li:nth-child(34) {
    left: 69%;
    width: 64px;
    height: 64px;
    bottom: -64px;
    animation-delay: 55s;
}

.background li:nth-child(35) {
    left: 5%;
    width: 182px;
    height: 182px;
    bottom: -182px;
    animation-delay: 15s;
}

.background li:nth-child(36) {
    left: 35%;
    width: 271px;
    height: 271px;
    bottom: -271px;
    animation-delay: 156s;
}

.background li:nth-child(37) {
    left: 53%;
    width: 59px;
    height: 59px;
    bottom: -59px;
    animation-delay: 171s;
}

.background li:nth-child(38) {
    left: 87%;
    width: 139px;
    height: 139px;
    bottom: -139px;
    animation-delay: 16s;
}

.background li:nth-child(39) {
    left: 13%;
    width: 180px;
    height: 180px;
    bottom: -180px;
    animation-delay: 162s;
}

.background li:nth-child(40) {
    left: 27%;
    width: 304px;
    height: 304px;
    bottom: -304px;
    animation-delay: 101s;
}

.background li:nth-child(41) {
    left: 55%;
    width: 243px;
    height: 243px;
    bottom: -243px;
    animation-delay: 61s;
}

.background li:nth-child(42) {
    left: 0%;
    width: 274px;
    height: 274px;
    bottom: -274px;
    animation-delay: 203s;
}

.background li:nth-child(43) {
    left: 24%;
    width: 120px;
    height: 120px;
    bottom: -120px;
    animation-delay: 210s;
}

.background li:nth-child(44) {
    left: 17%;
    width: 184px;
    height: 184px;
    bottom: -184px;
    animation-delay: 53s;
}

.background li:nth-child(45) {
    left: 25%;
    width: 112px;
    height: 112px;
    bottom: -112px;
    animation-delay: 138s;
}

.background li:nth-child(46) {
    left: 29%;
    width: 297px;
    height: 297px;
    bottom: -297px;
    animation-delay: 15s;
}

.background li:nth-child(47) {
    left: 75%;
    width: 185px;
    height: 185px;
    bottom: -185px;
    animation-delay: 40s;
}

.background li:nth-child(48) {
    left: 18%;
    width: 205px;
    height: 205px;
    bottom: -205px;
    animation-delay: 200s;
}

.background li:nth-child(49) {
    left: 63%;
    width: 166px;
    height: 166px;
    bottom: -166px;
    animation-delay: 22s;
}

.my_card {
    width: 100%;
    height: 20vh;
    background: #07182E;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
}

.my_card h2 {
    z-index: 1;
    color: white;
    font-size: 5vh;
}

.my_card::before {
    content: '';
    position: absolute;
    width: 130%;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 30%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
}

@keyframes rotBGimg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.my_card::after {
    content: '';
    position: absolute;
    background: #07182E;
    ;
    inset: 5px;
    border-radius: 15px;
}

/* .card:hover:before {
    background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
    animation: rotBGimg 3.5s linear infinite;
  } */

  .message {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    display: none;
}

.all {
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    height: 100vh;
    top: 10vh;
    left: 25vh;
    right: 25vh;
    position: fixed;
    display: flex;
}